@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
    margin: 0;
    padding: 0;
}

.main-container {
    display: grid;
    grid-template-areas: 
    "hd"
    "art"
    "sec"
    "subs"
    "ft"
    ;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5em;
    letter-spacing: 0.1em;
    font-family: 'Cinzel', serif
}

img {
    width: 15em;
    height: 15em;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h2  {
    text-align: center;
    margin-bottom: 4em;
    font-size: 0.9em;
}

p {
    color: #8d8383;
    font-weight: 100;
    font-size: 0.6em; 
}

button {
    font-size: 0.5em;
}

/* Header */
.header {
    grid-area: hd;
    display: flex;
    justify-content: space-between;
    background-color: #fde8e3;
    align-items: center;
    padding: 2em 2em;
}

#blog-logo img {
    width: 5em;
    height: 6em;
}

nav {
    display: flex;
    justify-content: space-between;
    width:20em;
    font-size: 0.7em;
}

nav a {
    color: #000;
}

nav a:hover {
    color:#d63114
}

nav a::before{
    content:'';
    display:block;
    background: #000;
    height :4px;
    width:0%;
    top:0px;
    transition:all 1s ease-in-out 3ms;
}
nav a:hover::before{
    width:100%;
}

/* Latest Posts */
.latest-posts {
    grid-area: art;
    padding: 4em 2em 0em 2em;
    margin-top: 4em;
}

.latest-posts-grid {
    display: grid;
    grid-template-columns: 15em;
    justify-content: space-around;
    grid-gap: 2em;
}

.latest-posts div:last-child {
    text-align: center;
}

.latest-posts h3 {
    color: #000;
    margin-top: 1em;
    font-weight: 100;
    font-size: 0.6em;
}

.latest-posts button {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    padding:1em 2em;
    margin-top: 4em;
}

.latest-posts button:hover {
    background-color: #000;
    color: #fff;
    transition:all 1s ease-in-out 3ms;
    cursor: pointer;
}

/* Other Posts */
.other-posts {
    grid-area: sec;
    padding: 4em 2em 0em 2em;
    margin-top: 4em;
}

.other-posts h4 {
    color: #000;
    margin-top: 1em;
    font-weight: 100;
    font-size: 1em;
}

.other-posts h3 {
    font-size: 0.7em;
}
.other-posts h4 {
    font-size: 0.5em;
}

.other-posts-grid {
    display: grid;
    grid-gap: 2em;
    justify-content: space-around;
    grid-template-columns: 15em;
}

.recent-posts {
    display: grid;
    grid-gap: 4em;
}

.recent-posts-grid {
    display: grid;
    grid-gap: 2em;
}

.recent-posts-grid h3 {
    color: #000;
    margin-top: 1em;
    font-weight: 100;
    font-size: 0.6em;
}
.editors-picks {
    display: grid;
    grid-gap: 4em;
    margin-top: 4em;
}

.editors-picks-grid {
    display: grid;
    grid-gap: 2em;
}

.editors-picks-grid h3 {
    color: #000;
    margin-top: 1em;
    font-weight: 100;
    font-size: 0.6em;
}

.miscellaneous {
    display: grid;
    grid-gap: 4em;
    margin-top: 4em;
}

.miscellaneous-grid {
    display: grid;
    grid-gap: 2em;
}

.miscellaneous-grid h3 {
    color: #000;
    margin-top: 1em;
    font-weight: 100;
    font-size: 0.6em;
}

/* Subscribe */
.subscribe-section {
    grid-area: subs;
    background: #0000000d;
    padding: 4em 0em 4em 0em;
    margin-top: 4em;
    text-align: center;
}

form {
    justify-content: space-around;
    display: grid;
    grid-template-columns: 20em;
    grid-gap: 2em;
}

form input {
    padding:1em 1em;
}

.subscribe-section button {
    margin: 2em 0em;
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
    padding:1em 3em;
    margin-top: 4em;
}

.subscribe-section button:hover {
background-color: #fff;
color: #000;
transition:all 1s ease-in-out 3ms;
cursor: pointer;
}

/* Footer */
footer {
    grid-area: ft;
    background-color: #fde8e3;
    padding: 4em 0em;
    text-align: center;
}

.social-media-links {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1em);
    grid-gap: 1.5em;
    margin-bottom: 2em;
}

.social-media-links img {
    width: 1em;
    height: 1.5em;
}

footer h4 {
    margin-bottom: 1em;
    font-weight: 100;
    font-size: 0.6em;
}

/* Media Queries for medium screens */
@media (min-width: 641px) and (max-width: 1000px) {
    .latest-posts-grid {
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
    }

    .other-posts-grid {
        grid-template-columns: 1fr 1fr;
    }

    img{
        width: 18em;
    }

    .latest-posts-grid {
        grid-template-columns: repeat(2, 18em);
        justify-content: space-between;
    }

    .recent-posts-grid a,
    .editors-picks-grid a,
    .miscellaneous-grid a {
        display: grid;
        grid-template-columns: 8em auto;
        grid-gap: 1.5em;
        align-items: start;
    }

    .recent-posts-grid a img,
    .editors-picks-grid a img,
    .miscellaneous-grid a img {
        width: 8em;
        height: 7em;
    }
    
    .editors-picks, 
    .miscellaneous {
        margin-top: 0em;
    }

    .recent-posts-grid h3,
    .editors-picks-grid h3,
    .miscellaneous-grid h3 {
        margin-top: 0em;
    }
}

/*  Media Queries for medium screens */
@media (min-width: 1001px) {
    img{
        width: 18em;
    }

    .latest-posts-grid {
        grid-template-columns: repeat(3, 18em);
        justify-content: space-between;
    }

    .other-posts-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .recent-posts-grid a,
    .editors-picks-grid a,
    .miscellaneous-grid a {
        display: grid;
        grid-template-columns: 10em auto;
        grid-gap: 3em;
        align-items: start;
    }

    .recent-posts-grid a img,
    .editors-picks-grid a img,
    .miscellaneous-grid a img {
        width: 10em;
        height: 7em;
    }
    
    .editors-picks, 
    .miscellaneous {
        margin-top: 0em;
    }

    .recent-posts-grid h3,
    .editors-picks-grid h3,
    .miscellaneous-grid h3 {
        margin-top: 0em;
    }
}